* text=auto !eol
Clustering/mykmeans.m -text
Figures/maximize.m -text
Figures/plotnumeric.m -text
Figures/rotplot.m -text
File/sloc.m -text
File/slocDir.m -text
Filtering/lpf_comp.m -text
Graphics/drawGaussian3.m -text
Graphics/plot_block.m -text
HMM/forwardbackwardscaled.m -text
HMM/guessHiddenStates.m -text
HMM/train_hmm_model.m -text
IMU[!!-~]Tools/plot_imu_data.m -text
Image[!!-~]Processing/alphamask.m -text
Image[!!-~]Processing/load_png.m -text
Learning/rank_error.m -text
PathPlanning/astar.m -text
PathPlanning/meam620utils.jar -text
Rotations/Quat2Vect.m -text
Rotations/QuatAvg.m -text
Rotations/QuatConj.m -text
Rotations/QuatMul.m -text
Rotations/QuatToRot.m -text
Rotations/RPYtoRot_ZXY.m -text
Rotations/RotToQuat.m -text
Rotations/RotToRPY_ZXY.m -text
Rotations/Vect2Quat.m -text
