* text=auto !eol
Clustering/mykmeans.m -text
Figures/maximize.m -text
Figures/plotnumeric.m -text
Figures/rotplot.m -text
File/sloc.m -text
File/slocDir.m -text
Filtering/lpf_comp.m -text
Graphics/drawGaussian3.m -text
HMM/forwardbackwardscaled.m -text
HMM/guessHiddenStates.m -text
HMM/train_hmm_model.m -text
IMU[!!-~]Tools/plot_imu_data.m -text
Image[!!-~]Processing/alphamask.m -text
Image[!!-~]Processing/load_png.m -text
Learning/rank_error.m -text
Quaternions/Quat2Vect.m -text
Quaternions/QuatAvg.m -text
Quaternions/QuatConj.m -text
Quaternions/QuatMul.m -text
Quaternions/QuatToRot.m -text
Quaternions/RotToQuat.m -text
Quaternions/Vect2Quat.m -text
